@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Somewhere far far away, there is a village which is controlled by a dark and cunning witch.
        Coincidentally, this witch is also a die-hard programmer.
    </p>
</div>
